<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class= "bg">
<div>
    <h1 class="font-div title-div">Setup a Schedule</h1>

    <p class="intro font-div"> Setup a personalized schedule so you can reach ideal sleep</p>
</div>

    <h3 class="font-div">Desired Hours of Sleep</h3>

     <p class="font-div description">Pro Tip: Experiment with the times until you feel most refreshed</p>

<div>
    <table align="center">
    <tr>
      <td> Monday </td>
      <td> <select>
        <option value="1 hour"> 1 hour</option>
        <option value="2 hour"> 2 hours</option>
        <option value="3 hour"> 3 hours</option>
        <option value="4 hour"> 4 hours</option>
        <option value="5 hour"> 5 hours</option>
        <option value="6 hour"> 6 hours</option>
        <option value="7 hour"> 7 hours</option>
        <option value="8 hour"> 8 hours</option>
        <option value="9 hour"> 9 hours</option>
        <option value="10 hour"> 10 hours</option>
        <option value="11 hour"> 11 hours</option>
        <option value="12 hour"> 12 hours</option>
    </select></td>

    </tr>

    <tr>
    <td> Tuesday </td>
      <td> <select>
        <option value="1 hour"> 1 hour</option>
        <option value="2 hour"> 2 hours</option>
        <option value="3 hour"> 3 hours</option>
        <option value="4 hour"> 4 hours</option>
        <option value="5 hour"> 5 hours</option>
        <option value="6 hour"> 6 hours</option>
        <option value="7 hour"> 7 hours</option>
        <option value="8 hour"> 8 hours</option>
        <option value="9 hour"> 9 hours</option>
        <option value="10 hour"> 10 hours</option>
        <option value="11 hour"> 11 hours</option>
        <option value="12 hour"> 12 hours</option>
    </select></td>
    </tr>

    <tr>
    <td> Wednesday </td>
      <td> <select>
        <option value="1 hour"> 1 hour</option>
        <option value="2 hour"> 2 hours</option>
        <option value="3 hour"> 3 hours</option>
        <option value="4 hour"> 4 hours</option>
        <option value="5 hour"> 5 hours</option>
        <option value="6 hour"> 6 hours</option>
        <option value="7 hour"> 7 hours</option>
        <option value="8 hour"> 8 hours</option>
        <option value="9 hour"> 9 hours</option>
        <option value="10 hour"> 10 hours</option>
        <option value="11 hour"> 11 hours</option>
        <option value="12 hour"> 12 hours</option>
    </select></td>
    </tr>

    <tr>
    <td> Thursday </td>
      <td> <select>
        <option value="1 hour"> 1 hour</option>
        <option value="2 hour"> 2 hours</option>
        <option value="3 hour"> 3 hours</option>
        <option value="4 hour"> 4 hours</option>
        <option value="5 hour"> 5 hours</option>
        <option value="6 hour"> 6 hours</option>
        <option value="7 hour"> 7 hours</option>
        <option value="8 hour"> 8 hours</option>
        <option value="9 hour"> 9 hours</option>
        <option value="10 hour"> 10 hours</option>
        <option value="11 hour"> 11 hours</option>
        <option value="12 hour"> 12 hours</option>
    </select></td>
    </tr>

    <tr>
    <td> Friday </td>
      <td> <select>
        <option value="1 hour"> 1 hour</option>
        <option value="2 hour"> 2 hours</option>
        <option value="3 hour"> 3 hours</option>
        <option value="4 hour"> 4 hours</option>
        <option value="5 hour"> 5 hours</option>
        <option value="6 hour"> 6 hours</option>
        <option value="7 hour"> 7 hours</option>
        <option value="8 hour"> 8 hours</option>
        <option value="9 hour"> 9 hours</option>
        <option value="10 hour"> 10 hours</option>
        <option value="11 hour"> 11 hours</option>
        <option value="12 hour"> 12 hours</option>
    </select></td>
    </tr>
      
    <tr>
    <td> Saturday </td>
      <td> <select>
        <option value="1 hour"> 1 hour</option>
        <option value="2 hour"> 2 hours</option>
        <option value="3 hour"> 3 hours</option>
        <option value="4 hour"> 4 hours</option>
        <option value="5 hour"> 5 hours</option>
        <option value="6 hour"> 6 hours</option>
        <option value="7 hour"> 7 hours</option>
        <option value="8 hour"> 8 hours</option>
        <option value="9 hour"> 9 hours</option>
        <option value="10 hour"> 10 hours</option>
        <option value="11 hour"> 11 hours</option>
        <option value="12 hour"> 12 hours</option>
    </select></td>
    </tr>

    <tr>
    <td> Sunday </td>
      <td> <select>
        <option value="1 hour"> 1 hour</option>
        <option value="2 hour"> 2 hours</option>
        <option value="3 hour"> 3 hours</option>
        <option value="4 hour"> 4 hours</option>
        <option value="5 hour"> 5 hours</option>
        <option value="6 hour"> 6 hours</option>
        <option value="7 hour"> 7 hours</option>
        <option value="8 hour"> 8 hours</option>
        <option value="9 hour"> 9 hours</option>
        <option value="10 hour"> 10 hours</option>
        <option value="11 hour"> 11 hours</option>
        <option value="12 hour"> 12 hours</option>
    </select></td>
    </tr>
    </table>

</div>


<!--<div>

    <select>
        <option value="1 hour"> 1 hour</option>
        <option value="2 hour"> 2 hours</option>
        <option value="3 hour"> 3 hours</option>
        <option value="4 hour"> 4 hours</option>
        <option value="5 hour"> 5 hours</option>
        <option value="6 hour"> 6 hours</option>
        <option value="7 hour"> 7 hours</option>
        <option value="8 hour"> 8 hours</option>
        <option value="9 hour"> 9 hours</option>
        <option value="10 hour"> 10 hours</option>
        <option value="11 hour"> 11 hours</option>
        <option value="12 hour"> 12 hours</option>
    </select>
    <p class="Monday font-div">Monday</p>

</div>
-->


 <!--
  <ion-list>

  
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
  -->
  
</ion-content>
